@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');


body {
    margin: 0;
    padding: 0;
    background-image: url(../img/leyre-71SHXwBLp5w-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fontes {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
}

nav{
    background-color: #320e2f;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-collapse {
    background-color: #0000;
}



.navbar-nav>a {
    background-color: #320e2f;
    color: #fff;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;

}

.navbar-nav>a:hover {
    height: 50px;
    background-color: #f1c61b;
    border-radius: 10px;

}

.container {
    margin-top: 15vh;
    color: #fff;
    width: 60%;
    border-radius: 20px;
    text-align: center;
}
/* About */


.about-rage{
    background-color: #fff;
    width: 100%;
  

}

.about-subtitles{
    color: #000;
}

.about-imagem img{
    height: 150px;
    border-radius: 100px;
    
}

.about-title{
    font-family: 'Bebas Neue', cursive;
    color: #6e0d5d; 
}

li{
    list-style: none;
}

.about-bnt{
    margin-top: 5vh;
    background-color: #320e2f;
    color: #fff;
    border-radius: 30px;

}

.about-bnt:hover{
    margin-top: 5vh;
    background-color: #f1c61b;
    color: #fff;

}



/* Rage Member */

.rage-team{
    background-color: #fff;
    width: 100%;
  

}

.section-heading, h2, h4{
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-family: 'Bebas Neue', cursive;
    color: #6e0d5d;

}

.social{
    background-color: #320e2f;
    color: #fff;
    text-decoration: none;

}


.social:hover{
    background-color: #6e0d5d;
    color: #f1c61b;

}



