@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #000;

}

nav {
    background-color: #46237A;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-collapse {
    background-color: #0000;
}



.navbar-nav>a {
    background-color: #46237A;
    color: #fff;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;

}

.navbar-nav>a:hover {
    height: 50px;
    background-color: #f1c61b;
    border-radius: 10px;

}

.container {
    margin-top: 15vh;
    background-image: url(../img/4562472.jpg);
    background-size: cover;
    color: #fff;
    width: 60%;
    border-radius: 20px;
    text-align: center;
}

/* About */



.about-subtitles {
    color: #000;
}

.about-imagem img {
    height: 150px;
    border-radius: 100px;

}

.about-title {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}

.about-subtitles{
    color: #F1F0EA;
}

li {
    list-style: none;
}

.about-bnt {
    margin-top: 5vh;
    background-color: #f1c61b;
    color: #fff;
    border-radius: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}

.about-bnt:hover {
    margin-top: 5vh;
    background-color: #46237A;
    color: #fff;
    border-radius: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}



/* Rage Member */

.section-heading,
h2,
h4 {
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-family: 'Bebas Neue', cursive;

}

.social {
    background-color: #f1c61b;
    color: #fff;
    text-decoration: none;

}


.social:hover {
    background-color: #46237A;
    color: #fff;

}


/* Clips */

.clips-rage {
    background-color: #fff;
    width: 100%;
}

iframe {
    width: 140px;
}

.social-twitch {
    background-color: #f1c61b;
    color: #fff;
    text-decoration: none;
    width: 120px;

}

.social-twitch:hover {
    background-color: #46237A;
    color: #fff;
    text-decoration: none;
    width: 120px;

}

/* Footer */

.social-footer{
    background-color: #46237A;
    color: #fff;
}

.social-footer:hover{
    background-color: #f1c61b;
    color: #fff;
}
.rage-footer {
    margin-top: 15vh;
    background-color: #46237A;
    height: 150px;
}

/* História */

.historia-title{
    color: #000;
}

.historia-subtitle{
    color: #000;
}

.historia-bnt{
    background-color: #f1c61b;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    width: 120px;
    font-size: 20px;
}

.historia-bnt:hover{
    background-color: #46237A;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    width: 120px;
    font-size: 20px;
}

/* Votacçaõ */
.list-group{
   color: #000;

}

